body{
    background-color: rgb(42, 38, 42);
}

h3 {
    margin-bottom: 0;
}
.App{
    width: 50em;
    background-color:beige;
    margin: 0 auto;
    border-radius: .5em;
    padding: 10px 10px 30px 30px;
    display:flex;
    flex-direction: column;
    min-height: 50em;
}
.header{
    display: flex;
    justify-content: space-between;
}
hr {
    color: black;
    height: 2px;
    width: 100%;
    
    
}
.contact{
}
.name{
    
}
.workExperience{
}
.education{
}